.contaiiner-empty {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  
  height: 400px;
  color: #9495a5;
}
.contaiiner-empty img {
  width: 250px;
  height: auto;
}