.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  width: 100vw;

  position: relative;
}

.container-app input {
  width: 540px;
}

.container-app ul {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  list-style: none;
}

.container-app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/background.jpg");

  width: 100vw;
  height: 300px;
}

.container-app__header h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  width: 540px;

  color: #ffffff;
}
.content-tasks {
  width: 540px;
  height: 439px;
  gap: 0px;
  border-radius: 5px;

  background: #ffffff;
  position: absolute;
  top: 248px;

  box-shadow: 0px 35px 50px -15px #c2c3d680;
}

.content-task__actions,
.task-item {
  padding: 20px 24px;
}
.content-task__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  border-top: 1px solid #e3e4f1;
}

.content-task__actions a {
  font-size: 14px;
  font-weight: 400;

  text-decoration: none;

  color: #9495a5;
}

.content-task__actions div {
  display: flex;
  gap: 8px;
}

.task-item {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e3e4f1;

  height: 64px;

  font-size: 18px;
  font-weight: 400;
  color: #494c6b;
}
